<html>
    <head>
        <title>Shivam's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Shivam's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly. Of the objects that orbit the Sun directly, the largest are the eight planets, with the remainder being smaller objects, such as the five dwarf planets and small Solar System bodies. Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.</p>
        </div>

        <div>
            <p>published: 14.06.2018, 13:14</p>
            <h2><a href="">My second post</a></h2>
            <p>The Sun is a star. It contains 99.9% of the Solar System's mass.This means that it has strong gravity. The other objects are pulled into orbit around the Sun. The sun is mostly made out of hydrogen and helium.</p>
        </div>
    </body>
</html>